# Core runtime
streamlit
nest_asyncio
pandas
python-dotenv

# LLM / Cloud model client
google-generativeai
google-genai

# Vector DB and embeddings
chromadb
langchain-chroma
langchain_community
langchain_text_splitters
sentence-transformers
langsmith
langsmith[otel]
# JSON validation & utilities
pydantic
crewai
opentelemetry-instrumentation-crewai
#opentelemetry-instrumentation-google-generativeai
opentelemetry-instrumentation-google-genai
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation
openinference-instrumentation-crewai
openinference-instrumentation-google-genai
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
# Optional file loaders / parsing
tqdm
unstructured[local-inference]

# Tree-sitter for richer code parsing
tree-sitter
tree-sitter-languages
PyYAML

# Logging / utilities
python-json-logger
tiktoken
# py-tree-sitter==0.23.2
